<article class="profile">
  <header>
    <h1>Your Profile</h1>
    <p>Here you can view your profile data or edit it.</p>
  </header>

  <form [formGroup]="profileForm">
    <div class="form-group">
      <label for="name">Your name:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        formControlName="name"
      />
    </div>

    <div class="form-group">
      <label for="email">Your email:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        required
        name="email"
        formControlName="email"
      />
    </div>

    <div
      *ngIf="profileForm.get('email')?.invalid
      && (
        profileForm.get('email')?.dirty
        || profileForm.get('email')?.touched
      )"
      class="form-error"
    >
      Email is required
    </div>

    <div class="form-group">
      <label for="password">Your password:</label>
      <input
        type="password"
        class="form-control"
        id="password"
        required
        name="password"
        formControlName="password"
      />
    </div>

    <div
      *ngIf="profileForm.get('password')?.invalid
      && (
        profileForm.get('password')?.dirty
        || profileForm.get('password')?.touched
      )"
      class="form-error"
    >
      Passwords must contain at least eight characters, including at least 1 lowercase and 1 uppercase letter, 1 number and 1 special character.
    </div>

    <button
      type="submit"
      (click)="onSubmit()"
      class="button-primary"
    >
      Edit
    </button>
  </form>
</article>
