:root {
  /* Colors */
  --color-white: rgb(255, 255, 255);
  --color-grey: rgb(230, 230, 230);
  --color-primary: rgb(0,82,62);
  --color-secondary: rgb(78,171,88);
  --color-login: rgb(51, 0, 219);
  --color-border: rgb(230, 230, 230);
  --color-text-normal: rgb(64, 64, 64);
  --color-danger: rgb(210, 24, 43);

  /* Spacing */
  --spacing-1: .4rem;          /* 4px */
  --spacing-2: .8rem;          /* 8px */
  --spacing-3: 1.2rem;         /* 12px */
  --spacing-4: 1.6rem;         /* 16px */
  --spacing-5: 2rem;           /* 2px */
  --spacing-6: 2.4rem;         /* 24px */
  --spacing-7: 2.8rem;         /* 28px */
  --spacing-8: 3.2rem;         /* 32px */
  --spacing-9: 3.6rem;         /* 36px */
  --spacing-10: 4rem;           /* 40px */
  --spacing-11: 4.4rem;         /* 44px */
  --spacing-12: 4.8rem;         /* 48px */

  /* Shadows */
  --shadow: 0 1px 3px rgb(0 0 0 / 16%);

  /* Fonts */
  --text-sm: 1.2rem;
  --text-md: 1.6rem;
  --text-lg: 2rem;

  /* Breakpoints */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  /* Customs */
  --nav-height: 6rem;
}
