h1 {
  margin-bottom: var(--spacing-6);
  color: var(--color-primary);
}

h2 {
  color: var(--color-text-normal);
}

p {
  border-top: 1px solid var(--color-border);
  padding-top: var(--spacing-6);
}
