.product {
  position: relative;
  margin: var(--spacing-6) 0;
  padding: var(--spacing-6) var(--spacing-4);
  box-shadow: var(--shadow);
  background-color: var(--color-white);

  > header {
    display: flex;
    align-items: center;

    > span {
      margin-left: auto;
      font-style: italic;
    }
  }

  > footer {
    display: flex;
    flex-direction: column;

    > .row {
      display: flex;

      > button {
        margin-top: var(--spacing-6);
      }
    }

    button {
      margin-left: auto;
      border: none;
      font-style: italic;

      &:hover {
        color: var(--color-grey)
      }
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 50rem;
  }
}
