/* You can add global styles to this file, and also import other style files */
html {
  font-size: 62.5%; // Make sure 1rem = 10px
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;

  @media screen and (min-width: 768px) {
    font-size: 80%;
  }

  @media screen and (min-width: 992px) {
    font-size: 90%;
  }

  @media screen and (min-width: 1200px) {
    font-size: 100%;
  }
}

body {
  margin: 0;
}

picture {
  > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  font-size: var(--text-lg);
}

h2 {
  font-size: var(--text-md);
}

h3 {
  font-size: var(--text-sm);
}

p {
  font-size: var(--text-sm);
}

button {
  background: none;
  border: none;
  padding: var(--spacing-1) var(--spacing-3);
  border: 1px solid var(--color-border);
  cursor: pointer;
  height: fit-content;
  border-radius: var(--spacing-1);
  font-size: var(--text-sm);

  &:focus {
    outline: none;
  }

  &.button-primary {
    padding: var(--spacing-3) var(--spacing-4);
    background-color: var(--color-primary);
    color: var(--color-white);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  all: unset;
  height: 2.4rem;
  border: 1px solid var(--color-border);
  border-radius: var(--spacing-1);
  padding: 0 var(--spacing-2);

  &:focus {
    outline: 1px solid var(--color-border);
  }
}
