.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: var(--nav-height);
  right: var(--spacing-4);
  box-shadow: var(--shadow);
  width: 30rem;
  height: 25rem;
  border-radius: var(--spacing-1);
  background-color: var(--color-white);

  header {
    margin-bottom: var(--spacing-3);
  }

  form {
    display: flex;
    flex-direction: column;
    font-size: var(--text-sm);

    .form-group {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: var(--spacing-1) 0;

      > label {
        margin-right: var(--spacing-1);
        min-width: 7rem;
      }

      > .form-control {
        width: 15rem;
      }
    }

    > button {
      padding: var(--spacing-2) var(--spacing-4);
      margin-top: var(--spacing-2);
      margin-left: auto;
    }
  }
}
